#--------OAuth2.0 Client Configuration---------
#scope=
grant_type=implicit
#username=
#password=
#client_id=raw-frontend
#client_secret=1234
#access_token=
#refresh_token=
authentication_server_url=http://localhost:9000/oauth2/access_token
#resource_server_url=
#------------------------------------------------






















