# oauth
#client_id=raw-frontend
#grant_type=password
#authentication_server_url=http://localhost:9000/oauth2/access_token
username=some_user
password=some_password


# Logging
handlers = java.util.logging.ConsoleHandler
.level = ALL

# Console Logging
java.util.logging.ConsoleHandler.level = ALL















